body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white; /* would need to have the game loaded at the moment we use white */
}

#pauseButton { /* assigned id in js */
    position: absolute; 
    top: 20px; /* Appear at the top right of the screen */
    right: 20px;
    width: 100px;
    cursor: pointer;
    opacity: 1;
} 

#pauseButton:active {
    opacity: 0;
    transition: 0.5s;
}

.overlay {
    display: none; /* Hidden by default */
    position: fixed; /* Ensures it covers the entire screen */
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.overlay.active { 
    display: flex; /* Only visible when the pause button is clicked */
}

.menu-container {
    display: flex; 
    justify-content: center;
    align-items: center; 
    position: center;
    gap: 100px; 
    margin-bottom: 80px;
}

#resumeButton {
    width: 150px;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center; 
}
#refreshButton {
    width: 140px;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center; 
}
#homeButton {
    width: 130px;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center; 
}
#resumeButton:hover, #homeButton:hover, #refreshButton:hover {
    transform: scale(1.1);
}

.sound-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sound-container img {
    width: 120%;  
}

.switch {
    position: relative;
    width: 60px;
    height: 34px;
    margin-top: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider { /*Asked chatgpt to get a slider, it worked successfully*/ 
    position: absolute;
    cursor: pointer;
    top: 0; /*I guess those are reference points for the slider*/ 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.5s;
}

.slider:before { /*It create condition before and the slider at rest above*/ 
    position: absolute;
    content: "";/*this create a backgroun (the switch square within the rectangle) Size of rectangle will vary depending on the size of the background inside"*/ 
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white; /* background color */
    transition: 0.5s;
}

input:checked + .slider { /*switch color*/ 
    background-color: #1a1b1c;
}

input:checked + .slider:before { /*transition on x axis by the size of our square slider on one side or the other*/ 
    transform: translateX(26px);
}
